<footer class="bg-warning">
    <div class="logo">
        <img src="../../../../assets/img/logo.png" alt="logo" height="150" width="150">
    </div>
    <div class="text-light">
        <h3 class="text-dark">REDES SOCIALES</h3>
        <a href="https://www.facebook.com/groups/teksystem.co" >
            <img src="../../../../assets/img/facebook.png" alt="logo" height="70" width="70">
            <img src="../../../../assets/img/instagram.png" alt="logo" height="70" width="70">
        </a>
    </div>
    <div class="text-light">
        <h3 class="text-dark">CONTACTANOS</h3>
        <a href="https://api.whatsapp.com/send/?phone=%2B51953376891&text&type=phone_number&app_absent=0" >
            <img src="../../../../assets/img/WhatsApp.png" alt="logo whatsapp"height="70" width="70" >
        </a>
    </div>
</footer>