<div>
    <!--img src="../../../assets/img/UPN.png" alt="Banner img"-->
   
        <div class="text-center">
            <img src="../../../assets/img/fondo-principal-sistemas.png" alt="alt"/>
        </div>
         <div class="container-fluid bg-dark text-warning ">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item ">
                    <a class="nav-link text-warning" aria-current="page" href="#">Acerca de la Carrera</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-warning" href="#">Plan de Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#">Beneficios</a>
                </li>
            </ul>

        </div>
        <div class="container-fluid bd-warning text-dark ">
            <section>
                <div class="container-fluid d-flex">
                    <div class="p-5">
                        <h4>SÉ EL PROFESIONAL COMPROMETIDO EN SITUACIONES COMPLEJAS PARA MEJORAR LA GESTIÓN DE LA TECNOLOGÍA.</h4>
                        <p class="pt-3">Aprende a producir soluciones y mejorar los procesos de las organizaciones, que permitirán a las empresas redefinir sus estrategias de negocios, procesos y prácticas de administración.</p>
                        <div class="container-fluid d-flex">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Carrera:</h5>
                                    <p>Ingeniería de Sistemas Computacionales</p>
                                    <h5 class="pt-2">Duración:</h5>
                                    <p>5 años</p>
                                </div>
                                <div class="col">
                                    <h5>Grado Obtenido:</h5>
                                    <p >Bachiller en Ingeniería de Sistemas Computacionales</p>
                                    <h5 class="pt-2"> Titulación:</h5>
                                    <p>Ingeniero de Sistemas Computacionales</p>                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="m-3 shadow mb-5 bg-body rounded" src="../../../assets/img/ingeniería_sistemas.jpg" alt="alt" width="700px" height="400px"/>
                </div>    
            </section>
        <div id="carouselExampleControls" class="carousel carousel-dark slide pt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Primer ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Desarrollo dle alento</li>
                                    <li>Complemento matematico para ingenieros</li>
                                    <li>Introduccion a la ingenieria de sistemas computacionales</li>
                                    <li>Responsabilidad social</li>
                                    <li>Comunicacion 1  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Segundo ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Matematica basica para ingenieria</li>
                                    <li>Fundamentos de algoritmos</li>
                                    <li>Metodologia universitaria</li>
                                    <li>Pre beginner 1</li>
                                    <li>Comunicacion 2  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Tercer ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Calculo 1</li>
                                    <li>Fundamentos de programacion</li>
                                    <li>Matematica discreta</li>
                                    <li>Mecanica, oscilacion y ondas</li>
                                    <li>Pre beginner 2</li>
                                    <li>Comunicacion 3  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Cuarto ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Estructura de datos</li>
                                    <li>Calculo 2</li>
                                    <li>Probabilidad y estadistica</li>
                                    <li>Herramientas informaticas</li>
                                    <li>Electricidad, magnetismo y optica  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Quinto ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Tecnicas de programacion orientada a objetos</li>
                                    <li>Base de datos</li>
                                    <li>Electronica dijital</li>
                                    <li>Analisis de algortimos y estrategias de programacion</li>
                                    <li>Optimizacion y simulacion  </li>
                                    <li>Psicologia de la felicidad</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Sexto ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Taller de base de datos</li>
                                    <li>Empleabilidad</li>
                                    <li>Modelamiento y analisis de software</li>
                                    <li>Computacion grafica y visual</li>
                                    <li>Arquitectura de computadoras</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Septimo ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Sistemas operativos</li>
                                    <li>Interaccion humana computador</li>
                                    <li>Redes 1</li>
                                    <li>Diseño y arquitectura de software</li>
                                    <li>Metodologia de la investigacion</li>
                                    <li>Proyecto social</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Octavo ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Soluciones web y aplicaciones distribuidas</li>
                                    <li>Redes 2</li>
                                    <li>Calidad y pruebas de sooftware</li>
                                    <li>Practicas pre profesoinales</li>
                                    <li>Taller de robotica</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Noveno ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Videojuegos y applicaciones moviles</li>
                                    <li>Taller de tesis 1</li>
                                    <li>Electivo 1</li>
                                    <li>Sistemas inteligentes</li>
                                    <li>Administrador de proyectos de software  </li>
                                </ul>
                            </div>                            </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Decimo ciclo</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Capstone Project Sistemas</li>
                                    <li>Taller de tesis 2</li>
                                    <li>Gestion de procesos BPM y planeamiento estrategico electivo 2</li>
                                    <li>Electivo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="button-prev2" class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="button-next2" class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
</div>