<header>
    <nav class="navbar bg-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo.png" alt="Logo" width="150" height="130" class="d-inline-block align-text-top">
          </a>
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link"  routerLink="">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="cursos">CURSOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="estudiantes">LISTA DE ALUMNOS</a>
            </li>
            
          </ul>
          <h2 class="me-2">Universidad Privada del Norte</h2>
        </div>
      </nav>
</header>